h1 {
    color: #18035C;
}

h2 {
    color: #A1001D;
}

h1:hover {
    color: black;
}

.heading {
    color: #A85DAB
}

.Verse1 {
    color: #FF5F0D;
}

.chorus {
    color: #A1521D;
}

.verse2 {
    color: red
}

a:visited {
    color: blue;
}
.heading {border: 2px solid burlywood}
.chorus{margin-top: 100px;}
.chorus.hai{margin-top:50px}
h1{display: inline;}
h2{display: inline;}
a{display: block;}